<!DOCTYPE html>
<html>

<head>
  <title>Natural Language Processing</title>
  <meta charset="utf-8">
  <meta content="width=device-width, intitial-scale=1" name="viewport">
</head>

<body>
  <div id="container">
    <div id="main-holder">
      <section id="img-result-holder">
        <img id="img-reading" src="/src/client/styles/multimedia/reading.jpg" alt="young woman reading dictionary">
        <img id="img-lotus" src="/src/client/styles/multimedia/lotus.png" alt="pink lotus flower">
        <img id="img-newspaper" src="/src/client/styles/multimedia/newspaper.jpg" alt="newspaper and coffee">
        <div id="gold-frame"></div>
      </section>

      <form id="form">
        <div id="user-input">
          <p id="err-holder"></p>
          <label for="name">Name</label>
          <input type="text" id="name">
          <label for="url">Enter a URL to check language</label>
          <input type="url" name="url" id="url" placeholder="https://url.com">
        </div>
        <button id="check-btn" type="submit">Check Language</button>
      </form>
      

      <div id="result-holder"></div>
    
    </div> <!--End main-holder div-->
  </div> <!--End container div-->
</body>

</html>
<!--reading.jpg by Pexels from Pixabay -->
<!--lotus.jpg by press 👍 and ⭐ from Pixabay-->
<!--newspaper.jpg by Markus Spiske from Pixabay-->