<!DOCTYPE html>
<html>

<head>
  <title>Natural Language Processing</title>
  <meta charset="utf-8">
  <meta content="width=device-width, intitial-scale=1" name="viewport">
</head>

<body>
  <div id="container">
    <header id="hdr">
      <h2 class="center-text">Sentiment Analysis</h2>
    </header>
    <div id="main-holder">

      <form id="entry-form">
        <div id="user-input">
          <p id="err-holder"></p>
          <label class="label-style" for="name">Please enter your name:</label>
          <input type="text" id="name" placeholder="Name">
          <label class="label-style" for="url">Please enter a URL:</label>
          <input type="url" name="url" id="url" placeholder="https://url.com">
        </div>
        <button id="check-btn" type="submit">Check Sentiment</button>
      </form>

      <div id="result-holder"></div>
    
    </div> <!--End main-holder div-->
    <footer id="ftr">
      <p class="center-text">FreudCat 2021</p>
    </footer>
  </div> <!--End container div-->

  <script>
    if ('serviceWorker' in navigator) { //ensure that "serviceWorker" enabled
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js'); //serviceworker allows offline access
        });
    }
  </script>
</body>

</html>
<!--reading.jpg by Pexels from Pixabay -->
<!--lotus.jpg by press 👍 and ⭐ from Pixabay-->
<!--newspaper.jpg by Markus Spiske from Pixabay-->