$input-bckgrnd: lightgrey;
$input-radius: 10px; 
$input-brdr: none; 

body {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 44)); 
  height: 100vh; 
}

@media only screen and (max-width: 450px){
  #container {
    display: grid; 
    width: 90vw; 
    height: 75vh;
    grid-template-columns: 90%;
    grid-template-rows: 75vh;
    grid-template-areas: "form-holder";
    background: #fff;
    justify-content: center;
    margin: auto;
  }

  #main-holder {
    grid-area: form-holder;
    display: grid;
    grid-template-columns: repeat(2, 45vw); 
    grid-template-rows: auto;
    grid-template-areas: "img form"; 
    justify-content: center;
  }

  #img-result-holder {
    grid-area: img;
    border: 1px red solid;
  }

  #img-reading {
    width: 60%;
    position: relative;
    top: 5vh;
    left: 2vw;
    z-index: 1;
  }

  #img-lotus {
    width: 40%;
    position: relative;
    top: -15vh;
    left: 25vw;
    z-index: 3;
  }

  #img-newspaper {
    width: 90%;
    position: relative;
    top: -20vh;
    left: 15vw;
    z-index: 2;
  }

  #gold-frame {
    position: relative;
    border: 3px solid gold;
    height: 40vh;
    width: 30vw;
    top: -70vh;
    left: 7vw;
    z-index: 0;
  }

  #form {
    grid-area: form;
    border: 1px solid blue;
  }

  #name {
    border-radius: $input-radius; 
    border: $input-brdr; 
    background: $input-bckgrnd; 
  }

  #url {
    border-radius: $input-radius; 
    border: $input-brdr; 
    background: $input-bckgrnd;  
  }

  #check-btn {
    border-radius: $input-radius;
    border: $input-brdr;
  }
}

